.drop-box {
    background: #F8F8F8;
    border: 5px dotted #DDD;
    width: 205px;
    height: 95px;
    text-align: center;
    padding: 32px;
}
.dragover {
    border: 5px dashed green;
}

.validation {
    color: #d9534f;
}

/* > is for immediate child */
.validation > div{
    padding-top: 10px;
}
/* space is for all child elements */
.validation .glyphicon {
    margin-right: 5px;
}

th {
    background-color: lightgrey;
}

td {
    font-size: 12px;
}