<div class="container" ng-controller="ListCtrl as ctrl">
    <div class="row">
        <h3>Files uploaded</h3>
        <ul>
          <li ng-repeat="file in ctrl.fileList">
            [{{ file.display_date }}] - <a download="{{file.original_name}}" ng-href="{{file.name}}">{{ file.original_name }}</a>
            &nbsp<button class="btn-default" ng-click="ctrl.deleteFile($index);">Delete</button>
          </li>
        </ul>
    </div>
  </div>