<div class="container" ng-controller="UploadCtrl as ctrl">
  <div class="row">
    <div>
      <h3>Upload File</h3>
      <form name="UploadForm" novalidate ng-submit="ctrl.upload()" autocomplete="off">
        <div class="form-group">
          <!--Select file to upload. Single file only. Accepts only csv-->
          <!--<input id="file" type="file" ng-model="ctrl.file" ngf-select ngf-pattern="'.csv'" accept="'.csv'">-->
          <div ngf-drop class="drop-box" ngf-drag-over-class="'dragover'" ngf-pattern="'.csv'" accept=".csv" ng-model="ctrl.file" required>Drop CSV file here</div>
          <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
          <p>File: {{ ctrl.file.name }}</p>
          <div class="validation" ng-show="UploadForm.$dirty">
            <div ng-show="UploadForm.$error.pattern">
              <span class="glyphicon glyphicon-alert"></span> Unsupported format.
            </div>
          </div>
        </div>
        <hr />
        <div class="form-group">
          <!-- Preview of file -->
          <h3>File Preview</h3>
          <table class="table table-bordered">
            <tr>
              <th ng-repeat="header in ctrl.dataHeader">{{ header }}</th>
            </tr>
            <tr ng-repeat="row in ctrl.tableData | limitTo: (1 - ctrl.tableData.length)">
              <td ng-repeat="field in row track by $index">{{ field }}</td>
            </tr>
          </table>
        </div>
        <div class="form-group">
          <button class="btn btn-default" type="submit">Upload</button>
          <div class="validation" ng-show="UploadForm.$invalid && UploadForm.$submitted">
            <div>
              <span class="glyphicon glyphicon-alert"></span> Please drop a file in the drop space above
            </div>
          </div>
          <div class="validation" ng-show="ctrl.status.code">
            <span class="glyphicon glyphicon-alert"></span> Upload failed, please try again
          </div>
        </div>
      </form>
    </div>
  </div>
</div>